/* body {
        background-color: #3dbb3d;
        height: 40px;
        width: 85px;
      }
      button {
        width: 85px;
        height: 40px;
        background: #3dbb3d;
        border: black;
        font-weight: bold;
      } */
      body {
        background-color: #3dbb3d;
        /* height: 40px;
        width: 85px; */
        height: 150px;
        width: 150px;
      }
      button {
        width: 85px;
        height: 40px;
        background: #000;
        color: #3dbb3d;
        margin: 1em;
        border: 0.2pt solid #3dbb3d;
        font-weight: bold;
      }
